out
*.ipr
*.iws
*.iml
.idea

build
.gradle
bin

run
runs
run-server
run-data

repo

*.class
*.jar
*.log

Thumbs.db
Desktop.ini
.DS_Store

temp_*

.trae
.vscode
.eclipse

mcp.json
mc_src2.zip
sync.txt

build_*.txt
*_log.txt
*_log*.txt
eclipse*.txt

.classpath
.project
.settings/
