out
*.ipr
*.iws
*.iml
.idea

build
.gradle
bin

run
runs
run-server
run-data

repo

*.class
*.jar
*.log

Thumbs.db
Desktop.ini
.DS_Store

temp_*

.trae
.vscode
.eclipse

mcp.json
mc_src2.zip
sync.txt

build_final.txt
build_full.txt
build_log.txt
build_log3.txt
build_output.txt
compile_log.txt
dep_log.txt
eclipse.txt
eclipse2.txt

.classpath
.project
.settings/
